{% extends "encyclopedia/layout.html" %}
{% block title %}
    Creation page
{% endblock %}
{% block body %}
<h2 class="pt-2 pb-2">Create a new entry for the Wiki!</h2>
<form action="{% url 'wiki:new' %}" method="post">
    {% csrf_token %}
    <div class="form-floating mb-2">
        {{ form.title }}
        <label for="title_form">Title</label>
    </div>
    <div class="form-floating mb-2">
        {{ form.content }}
        <label for="content_form">Content</label>
    </div>
    <input type="submit" class="btn btn-primary" value="Create entry">
</form>
{% endblock %}